*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif; 
	box-sizing: border-box;
}

header{
	position: fixed;/*Para que se mantenga por ensima del resto de la pagina*/
	top: 0;
	left: 0; 
	width: 100%;
	height: 100px;
	background-color: rgb(240, 240, 240);
	box-shadow: 0 4px 25px -22px black;
	/*El 0 quiere decir que no va a tener movimiento o agrandarse de izq a der, 
	y en 4 para el grosor hacia abajo, 25 es la cantidad de sombra y el tamaño de la sombra del -22*/
	z-index: 2; /* para asegurarnos de que el header este x ensima de todo*/
}


.Encabezado{
	max-width: 1200px; /*justificar*/
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	margin: auto;
}

.Titulo{
	width: 50%;
	height: 100px;
	/*background-color: red;*/
}


.Titulo p{
	color: rgb(37, 31, 148);
	font-size: 40px;
	font-style: oblique;
	line-height: 1;	
	margin-top: 10px;
}

.Titulo p span{
	color: rgb(37, 31, 148);
	font-size: 30px;
	font-style: oblique;	
	margin-left: 12%;
}

/*----------------------MENU-------------------------*/

#chequear{
	display: none;
}

.iconoMenu{
	display: none;
}


.Menu{
	width: 50%;
	height: 100px;
	/*background-color: green;*/
}

.Menu nav ul{
	display: flex;
	float: right;
	padding-top: 20px;
}

.Menu nav ul li{
	margin: 0px 5px;
	list-style: none;
	display: flex;
}

.Menu a{
	padding: 10px;
	font-size: 10;
	border-radius: 10px;
	color: rgb(37, 31, 148);
	border-style: solid;
	border-bottom-color: rgb(37, 31, 148);
	text-decoration: none;
	cursor: pointer;
}

.Menu a:hover{
	color: rgb(37, 31, 148);
	border-bottom-color: rgb(37, 31, 148);
	background-color: rgba(127, 127, 127, 0.5);	
	text-decoration: none;
	cursor: pointer;
	transition: all 300ms;
}

/*----------------------PORTADA-------------------------*/

.Portada{
	top: 100px;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 85,5vh;
	position: absolute;
	background-image: url("../img/martillitoOscuro2.jpg");
	background-position: center;
	background-size: cover;/*para que se adapte a la pantalla, si se agranda la imagen tambien*/
	background-repeat: no-repeat;
}

.ContenidoPortada{
	width: 50%;
	height: 100%;
	padding: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}

.ContenidoPortada p{
	line-height: 1,5;
	font-size: 25px;
	color: rgb(240, 240, 240);
}

/*----------------------CONTACTOSs-------------------------*/

.ubicacionPortada{
	background-color: rgb(207, 207, 207);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.CuerpoUbicacion{
	display: inline-block;
	text-align: center;
	padding-top: 160px;
	padding-left: 100px;
}

.Contactos{
	border: 8px solid;
	margin-left: 15%;
	display: inline-block;
	width: 400px;
	height: 450px;
	border-radius: 10px;
	border-color: rgb(37, 31, 148);
	text-align: left;
	position: absolute;
	bottom: 102px;
	top: 160px;
}

.Contactos a{
	font-size: 20px; 
	color: rgb(37, 31, 148);
	text-decoration-line: none;
	/*cursor: pointer;*/
}

.Contactos a:hover{
color: rgb(37, 31, 148);
text-decoration-line: none;
/*font-weight: bold;*/
}

.Contactos p{
	font-size: 20px; 
	color: rgb(37, 31, 148);
	text-decoration-line: none;
}

.uno{
	padding-bottom: 20px;
	padding-top: 63px;
}

.dos{
	padding-bottom: 20px;
	padding-top: 63px;
}

.tres{
	padding-bottom: 20px;
	padding-top: 63px;
}

.dos img{
	float: left;
	margin-left: 100px;
	margin-top: 4px;
	margin-right: 5px;
}

.uno img{
	float: left;
	margin-left: 50px;
	margin-top: 4px;
	margin-right: 5px;
}

.uno p{
	text-align: left;
}

.tres img{
	float: left;
	margin-left: 60px;
	margin-top: 4px;	
	margin-right: 5px;
}

/*----------------------SERVICIOS-------------------------*/

.servicios{
	top: 100px;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 85.5vh;
	background-color: rgb(207, 207, 207);
	position: relative;
	padding-left: 140px;
	padding-top: 25px;
}

.servicios img{
	width: 300px;
	height: 180px;
}

.servicios p{
	width: 300px;
	height: 180px;	
	background-color: rgb(37, 31, 148);
	color: rgb(240, 240, 240);
	text-align: center;
}

.accidentesUno{
	width: 600px;
	height: 180px;
	display: flex;
}

.accidentesDos{
	width: 600px;
	height: 180px;
	display: flex;
}

.accidentesDos p{
	padding-top: 18px;
}

.jubilaciones{
	width: 600px;
	height: 180px;
	display: flex;
}

.jubilaciones p{
	padding-top: 18px;
}

.gestoria{
	width: 600px;
	height: 180px;
	display: flex;
	position: relative;
	left: 600px;
	top: -540px;	 
}

.gestoria p{
	padding-top: 18px;	
}

.divorcios{
	width: 600px;
	height: 180px;
	display: flex;
	position: relative;
	left: 600px;
	top: -540px;	
}

.divorcios p{
	padding-right: 3px;
	padding-left:  3px;
	padding-top: 2px;
}

.asesoramiento{
	width: 600px;
	height: 180px;
	display: flex;
	position: relative;
	left: 600px;
	top: -540px;	
}

.asesoramiento p{
	padding-right: 3px;
	padding-left:  3px;
	padding-top: 2px;	
}

/*----------------------NOSOTROS-------------------------*/
.nosotrosPortada{
	top: 100px;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 85,5vh;
	position: absolute;
	background-color: rgb(207, 207, 207);
	background-size: cover;
}

.nosotros{
	width: 100%;
	height: 100%;
	padding: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.nosotros p{
	line-height: 1,5;
	font-size: 25px;
	color: rgb(37, 31, 148);
	margin-left: 10px;
}
/*-----------------------------------------------------------------*/
/*----------------------RESPONSIVE TABLET-------------------------*/
/*-----------------------------------------------------------------*/
@media screen and (max-width: 1000px){
	
	.Titulo{
		width: 100%;
		height: 100%;
	}

	.Menu{
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 100px;
		background-color: rgb(240, 240, 240); /*CAMBIAR COLOR MENU RESPONSIVE*/
		transform: translateX(-100%); /*para que se oculte*/
		transition: all 500ms;
	}
		
	.Menu nav ul{
		display: block;
		position: absolute;
		width: 100%;
		height: 100vh;
		background: rgba(0, 0, 0, 0.3);
		
	}/*hace que se ponga uno abajo del otro*/

	.Menu nav ul li{
		margin-bottom: 10px;
	}

	.iconoMenu{
		text-align: center;
		display: block;
		width:50px;
  		height:50px;
  		padding-top: 10px;
  		margin-top: 22px;/*mueve el circulo gris*/
  		margin-right: 5px;
	}

	.iconoMenu img{
		width: 30px;
		height: 30px;
	}

	.iconoMenu:hover{
		background-color: rgba(127, 127, 127, 0.5);
		cursor: pointer;
		border-radius: 50px;
		transition: all 1000ms;
	}

	#chequear:checked ~ .Menu{
		transform: translateX(0);
	}

	.Titulo p{
		text-align: center;
	}		

	.Titulo p span{
		margin-left: 0;
	}

	.ContenidoPortada{
		width: 100%;
		height: 100%;
		padding: 75px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.ContenidoPortada p{
		font-size: 20px;
	}

/*----------------------CONTACTOS-------------------------*/

.ubicacionPortada{
	
	padding-right: 5%;
}

.CuerpoUbicacion{
	width: 100%;
	position:relative;
	padding-top: 120px;
	padding-right: 5%;
	overflow: hidden;
}

.CuerpoUbicacion iframe{
	width: 100%; 
	height: 50vh;
	/*width: 105vh;*/
 }
	
.Contactos{
	margin-top: 20px;
	margin-left: 3%;
	margin-right: 3%;
	display: flex;
	width: 100%;
	height: 130px;
	text-align: center;
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding-top: 10px;
	padding-right: 5%;
}
	
.Contactos p{
	font-size: 15px; 
	padding-bottom: 0px;
	padding-top: 0px;
	
}

.uno{
	padding-bottom: 0px;
	padding-top: 0px;
	margin-left: 10%;
}

.dos{
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
	margin-left:10%;
}

.tres{
	padding-bottom: 0px;
	padding-top: 0px;
	margin-left: 10%;
	

}

.uno img{
	float: none;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

.uno p{
	text-align: left;
}

.dos img{
	float: none;
	margin-left: 0px;
	margin-top: 4px;
	margin-right: 5px;
}

.tres img{
	float: none;
	margin-left: 0px;
	margin-top: 4px;	
	margin-right: 5px;
}

.Contactos a{
	font-size: 15px; 
}

/*----------------------SERVICIOS-------------------------*/

.servicios{
	padding-left: 20%;
	padding-right: 20%;
	height: 100%;
}

.accidentesDos{
	margin-top: 20px;
}

.jubilaciones{
	margin-top: 20px;
}

.gestoria{
	margin-top: 20px;	
	left: 0px;
	top: 0px;	 
}

.gestoria img{
	position: relative;
	left: 300px;
}

.gestoria p{
	padding-top: 18px;	
	position: relative;
	right: 300px;
}

.divorcios{
	margin-top: 20px;	
	left: 0px;
	top: 0px;
}

.divorcios img{
	position: relative;
	right: 300px;
}

.divorcios p{
	padding-right: 3px;
	padding-left:  3px;
	padding-top: 2px;
	position: relative;
	left: 300px;
}

.asesoramiento{
	margin-top: 20px;	
	left: 0px;
	top: 0px;
	height: 200px;
}

.asesoramiento img{
	position: relative;
	left: 300px;
}

.asesoramiento p{
	padding-right: 3px;
	padding-left:  3px;
	padding-top: 2px;
	position: relative;
	right: 300px;	
}
/*----------------------------NOSOTROS-----------------------------*/
.nosotros{
	padding: 20px;
}

.nosotros img{
	width: 50%;
	height: 50%;
	position: relative;

}

.nosotros p{
	padding-top: 18px;
	font-size: 18px; 
}
}

/*-----------------------------------------------------------------*/
/*----------------------RESPONSIVE 700 - 365-----------------------*/
/*-----------------------------------------------------------------*/
@media screen and (max-width: 700px){
.Comtactos{
	padding: 0px;
	padding-top: 10px;
}

.Contactos p{
	font-size: 12px; 
	padding-bottom: 0px;
	padding-top: 0px;

}

.uno{
	padding-bottom: 0px;
	padding-top: 0px;
	margin-left: 10px;
	position: static;
}

.dos{
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 50px;
	margin-left: 20px;
	position: static;
}

.tres{
	padding-bottom: 0px;
	padding-top: 0px;
	position: static;
}

.uno img{
	float: none;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

.uno p{
	text-align: left;
}

.dos img{
	float: none;
	margin-left: 0px;
	margin-top: 4px;
	margin-right: 5px;
}

.tres{
	margin-left: 20px;
}

.tres img{
	float: left;
	margin-left: 60px;
	margin-top: 4px;	
	margin-right: 5px;
}

.Contactos a{
	font-size: 12px; 
}

.nosotros{
	display: block;
}

.nosotros p{
	padding-top: 20px;
	font-size: 14px; 
}
}
/*-----------------------------------------------------------------*/
/*----------------------RESPONSIVE CELULAR-------------------------*/
/*-----------------------------------------------------------------*/
@media screen and (max-width: 365px){
	
	.Titulo p{
		text-align: center;
		font-size: 30px;
	}		
	
	.Titulo p span{
		margin-left: 0;
		font-size: 25px;
	}

	.ContenidoPortada p{
		font-size: 17px;
	}

	.ContenidoPortada{
		padding: 50px;
	}

/*----------------------CONTACTOS-------------------------*/

	.CuerpoUbicacion iframe{
		width: 45vh; 
		height: 40vh;
	}

	.CuerpoUbicacion{
		padding-left: 40px;
		padding-top: 120px;
	}

.Contactos{
	width: 318px;
	height: 150px;
	display: inline-block;
	right: -20px;
	bottom: 0px;
	margin-top: 20px;
	padding-top: 10px;
}
	
.Contactos p{
	font-size: 12px; 
	padding-bottom: 0px;
	padding-top: 0px;
}

.uno{
	padding-bottom: 0px;
	padding-top: 0px;
	margin-left: 60px;
}

.dos{
	padding-bottom: 0px;
	padding-top: 5px;
	margin-top: 0px;
	margin-left: 60px;
}

.tres{
	padding-bottom: 0px;
	padding-top: 5px;
	margin-left: 60px;
}

.uno img{
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 20px;
}

.uno p{
	text-align: left;
	padding-top: 3px;
}

.dos img{
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 20px;
}

.dos p{
	text-align: left;	
	padding-top: 3px;
}

.tres img{
	float: left;
	margin-left: 0px;
	margin-top: 0px;	
	margin-right: 20px;
}

.tres p{
	text-align: left;
	padding-top: 3px;	
}

/*----------------------SERVICIOS-------------------------*/

.servicios{
	top: 100px;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(207, 207, 207);
	position: relative;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.servicios img{
	width: 300px;
	height: 180px;
}

.servicios p{
	width: 300px;
	height: 180px;	
	background-color: rgb(37, 31, 148);
	color: rgb(240, 240, 240);
	text-align: center;
}

.accidentesUno{
	width: 300px;
	height: 360px;
	display: block;
}

.accidentesUno img{
	margin-top: 10px;
}

.accidentesDos{
	display: block;	
	width: 300px;
	height: 360px;
}

.accidentesDos p{
	margin: 0px;
	position: relative;
	bottom: -180px;
}

.accidentesDos img{
	margin: 0px;
	position: relative;
	top: -180px;
	margin-top: 20px;
}

.jubilaciones{
	display: block;	
	width: 300px;
	height: 360px;
}

.gestoria{
	display: block;	
	width: 300px;
	height: 360px;
}

.gestoria p{
	position: static;
}

.gestoria img{
	position: static;
}

.divorcios{
	display: block;	
	width: 300px;
	height: 360px;
}

.divorcios p{
	margin: 0px;
	position: relative;
	bottom: -180px;
	left: 0px;
	right: 0px;
}

.divorcios img{
	margin: 0px;
	position: relative;
	left: 0px;
	top: -180px;
}

.asesoramiento{
	display: block;	
	width: 300px;
	height: 360px;
}

.asesoramiento p{
	position: static;
}

.asesoramiento img{
	position: static;
}
/*-------------------------NOSOTROS----------------------------*/
.nosotrosPortada{
	
}

.nosotros{
	display:block;
}

.nosotros img{
	width: 300px;
	height: 200px;
	padding: 0px;
}

.nosotros p{
	font-size: 12px; 
	padding-bottom: 20px;
	margin right: 20px;
}

}

